@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
#title{
    font-family: 'Poppins', sans-serif;
    font-family: 'Satisfy', cursive;
    text-align: center;
}
#section-1{
    display: flex;
    gap: 30px;
    width: 95%;
    height: 90vh;
    padding: 10px;
    margin: auto;
}
#left{
    width: 50%;
    background-image: url("./images/Bitmap.png");
    background-size:cover;
   border-radius: 10px;
}


#right{
     width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    position: relative;
}
#right >div{
    border-radius: 5px;
    position: relative;
}
.desc{
    
   position: absolute;
    bottom: 0;
    background:white;
    opacity: 0.7;
    padding: 5px;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;

}
.desc p{
    font-size: 13px;
}
.desc div{
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    
}
.btn{
    border: none;
}
i{
    margin: 0 8px;
}

.desc1{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgb(177, 114, 236);
    opacity: 0.5;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
}
.desc1 div{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.btn1{
      border-radius: 10px;
      height: 40px;
}
.desc1 p,h3{
    opacity: 1;
}

#section-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 95%;
    margin: auto;
}
#section-2 div{
      padding: 20px;
}
#section-3{
    background-image: url("./images/image\ 2.png");
    background-size: cover;
    width: 95%;
    height: 60vh;
    margin: auto;
    position: relative;
}
#content{
   position: absolute;
   top: 60px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}
 .image{
     height: 100px;
     width: 100px;
     border-radius: 50%;
}
.end {
     color: white;
     text-align: center;
}
.end h5{
   margin-top: -3px;
}
.end p{
     font-size: 10px;
     margin-top: -20px;
     
}
#middle{
     background-color: white;
     border-radius: 10px;
     width: 20%;
     text-align: center;
     padding: 20px 5px;
}
#middle p{
     font-size: 12px;
     margin-top: -10px;
}
#section-4{
    background-image: url("./images/4th\ Food\ Banner\ 3.png");
    background-size: cover;
    height: 120vh;
    width: 95%;
    margin: auto;
    display: grid;
    position: relative;
    box-sizing: border-box;
    
}
#section-4 div{
    background-image: url("/images/Ellipse\ 3.png");
    background-repeat: no-repeat;
    background-size: 50%;
    height: 200px;
    width: 200px;
    
}
#top-right{
  position: absolute;
  top: 200px;
  right: 50px;
}
#bottom-right{
    position: absolute;
    bottom: 200px;
    right: 50px;
}
#top-left{
    position: absolute;
    top: 200px;
    left: 100px;
}
#bottom-left{
    position: absolute;
    bottom: 200px;
    left: 100px;
}
.bg-img{
    height: 50px;
    width: 50px;
    display: block;
   padding: 20px;
}
.mid-short{
    width: 50px;
   
   margin-top: -7px;
   margin-bottom: 10px;
    font-weight: 400;
    color: rgb(232, 92, 92);
   
}
h3{
    text-align: center;
}